@inject GlobalStuffService GlobalStuffService
@rendermode InteractiveServer

@if (GlobalStuffService.OrdersLocked)
{
    <p style="font-size: 1.2em; color: red;"> @GlobalStuffService.LOCKED_ORDERS_MESSAGE </p>
}
@if (GlobalStuffService.Message.Length >= 2)
{
    <div class="global_message"> @((MarkupString)Markdig.Markdown.ToHtml(GlobalStuffService.Message)) </div>
}

<style>
    .global_message > * {
        color: limegreen;
    }

    .global_message > p {
        font-size: 1.5em;
    }
</style>

@code{
    protected override void OnInitialized()
    {
        EventHandler Reload = async (sender, eventArgs) =>
            {
                await InvokeAsync(StateHasChanged);
            };
        GlobalStuffService.OnLockOrMessageChange += Reload;
    }


    void ReloadState(){
        StateHasChanged();
    }
}
